.about {
  padding: $spacing + 60 $spacing + 15;
  text-align: center;

  .about__content {
    position: relative;
    overflow: hidden;
    padding: $spacing + 30;
    background-color: $darkviolet;

    &::after {
      content: url("../images/bg-pattern-how-we-work-mobile.svg");
      position: absolute;
      top: 0;
      right: 0;
    }

    .heading--medium {
      color: white;
      letter-spacing: 2px;
      margin: 0;
      font-size: $fontsize + 16;
    }

    .about__button {
      @include whitebutton;

      &:hover {
        @include activebutton;
      }

      &:focus {
        outline: 1px dotted white;
      }
    }
  }
}
