.jumbotron {
    background-color: $darkviolet;
    text-align: center;

    .jumbotron__detail {
        position: relative;
        padding: $spacing + 80 $spacing + 15;

        .pattern--top-left {
            position: absolute;
            top: 0;
            left: 0;
        }

        .pattern--bottom-right {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translateY(50%);
        }
    }

    .heading--large {
        @include headinglarge;
        color: white;
    }

    .text--greyish {
        color: $lightgray;
        opacity: 0.7;
        line-height: 1.8;
    }

    .jumbotron__button {
        @include whitebutton;
    }
}