/* font family */
$ffamily: 'Karla', sans-serif; /* body */

$fontheading: 'DM Serif Display', serif;

$fontsize: 16px;

/* colors */

$darkviolet: hsl(256, 26%, 20%);
$grayishblue: hsl(216, 30%, 68%);

$verydark: hsl(270, 9%, 17%);
$grayishviolet: hsl(273, 4%, 51%);
$lightgray: hsl(0, 0%, 98%);


/* spacing */

$spacing: 20px;
