/* font family */
/* body */
/* colors */
/* spacing */
/* mixin heading large */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, ::after, ::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Serif Display", serif;
}

.wrapper {
  max-width: 640px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav .nav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px;
}

.nav .nav__top .nav__toggle {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #2b272f;
}

.nav .nav__list .nav__item {
  padding: 30px 0;
  text-align: center;
}

.nav .nav__list .nav__item .nav__link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

.jumbotron {
  background-color: #2d2640;
  text-align: center;
}

.jumbotron .image--mobile {
  display: block;
  width: 100%;
}

.jumbotron .image--desktop {
  display: none;
}

.jumbotron .jumbotron__detail {
  position: relative;
  padding: 100px 35px;
}

.jumbotron .jumbotron__detail .pattern--mobile--left {
  position: absolute;
  top: 0;
  left: 0;
}

.jumbotron .jumbotron__detail .pattern--mobile--right {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.jumbotron .jumbotron__detail .pattern--desktop--right,
.jumbotron .jumbotron__detail .pattern--desktop--left {
  display: none;
}

.jumbotron .heading--large {
  letter-spacing: 2px;
  margin: 0;
  font-size: clamp(2rem, 3vw, 4rem);
  color: white;
}

.jumbotron .text--greyish {
  color: #fafafa;
  opacity: 0.7;
  line-height: 1.8;
}

.jumbotron .jumbotron__button {
  margin-top: 20px;
  display: inline-block;
  border: 2px solid white;
  padding: 15px;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: inherit;
  color: white;
  font-family: "Karla", sans-serif;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

.jumbotron .jumbotron__button:hover {
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
  background-color: white;
  cursor: pointer;
  color: #2d2640;
  font-weight: 700;
}

.jumbotron .jumbotron__button:focus {
  outline: 1px dotted white;
}

.icons {
  padding: 60px 35px;
  text-align: center;
}

.icons .icons__heading {
  position: relative;
}

.icons .heading--large--black {
  letter-spacing: 2px;
  margin: 0;
  font-size: clamp(2rem, 3vw, 4rem);
  padding-bottom: 50px;
}

.icons .heading--large--black:before {
  content: "";
  position: absolute;
  left: 50%;
  top: -20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #837d87;
  width: 100px;
  height: 1px;
}

.icons .icons__item {
  display: block;
  margin-bottom: 20px;
  padding: 20px;
}

.icons .icons__item .heading--medium {
  letter-spacing: 2px;
}

.icons .icons__item .text--grey {
  color: #837d87;
  line-height: 1.8;
}

.about {
  padding: 80px 35px;
  text-align: center;
}

.about .about__content {
  max-width: 600px;
  position: relative;
  overflow: hidden;
  padding: 50px;
  background-color: #2d2640;
}

.about .about__content .pattern--mobile {
  position: absolute;
  right: 0;
  top: 0;
}

.about .about__content .pattern--desktop {
  display: none;
}

.about .about__content .heading--large {
  color: white;
  letter-spacing: 2px;
  margin: 0;
  font-size: 32px;
}

.about .about__content .about__button {
  margin-top: 20px;
  display: inline-block;
  border: 2px solid white;
  padding: 15px;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: inherit;
  color: white;
  font-family: "Karla", sans-serif;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

.about .about__content .about__button:hover {
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
  background-color: white;
  cursor: pointer;
  color: #2d2640;
  font-weight: 700;
}

.about .about__content .about__button:focus {
  outline: 1px dotted white;
}

footer {
  background-color: #fafafa;
  text-align: center;
}

footer .footer__icons {
  position: relative;
  text-align: center;
  padding: 50px 0;
}

footer .footer__icons::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  background-color: #837d87;
  opacity: 0.5;
  width: 80%;
  height: 1px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer .footer__icons .pattern--mobile {
  position: absolute;
  left: 0;
  top: 0;
}

footer .footer__icons .pattern--desktop {
  display: none;
}

footer .footer__icons .icon__list {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

footer .footer__icons .icon__list .icon__img {
  padding: 20px 10px;
  margin: 0;
}

footer .footer__icons .icon__list .icon__img:hover {
  cursor: pointer;
}

footer .footer__menu {
  padding-bottom: 20px;
}

footer .footer__menu .footer__detail {
  margin-top: 20px;
}

footer .footer__menu .footer__detail .heading--small {
  text-transform: uppercase;
  color: #837d87;
  letter-spacing: 3px;
  font-weight: 400;
}

footer .footer__menu .footer__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

footer .footer__menu .footer__list .footer__item {
  padding: 10px 0;
}

footer .footer__menu .footer__list .footer__link {
  color: #2d2640;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

footer .footer__menu .footer__list .footer__link:hover {
  text-decoration: underline;
}

footer .footer__menu .footer__list .footer__link:focus {
  outline: 1px dotted black;
}

footer .attribution {
  text-align: center;
  padding: 20px 0;
}

@media (min-width: 700px) {
  .wrapper {
    max-width: 1400px;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .nav__toggle {
    display: none;
  }
  .nav .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    background-color: inherit;
  }
  .nav .nav__list .nav__item {
    padding: 0 20px;
  }
  .nav .nav__list .nav__item .nav__link {
    color: #837d87;
  }
  .nav .nav__list .nav__item .nav__link:hover {
    color: #2d2640;
    cursor: pointer;
  }
  .nav .nav__list .nav__item .nav__link:focus {
    outline: 1px dotted black;
  }
  .nav .nav__pattern {
    display: none;
  }
  .jumbotron {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .jumbotron .image--mobile {
    display: none;
  }
  .jumbotron .image--desktop {
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  .jumbotron .jumbotron__detail {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: left;
    max-width: 680px;
    position: relative;
  }
  .jumbotron .jumbotron__detail::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate(35px, 60px);
            transform: translate(35px, 60px);
    background-color: #837d87;
    width: 150px;
    height: 2px;
  }
  .jumbotron .jumbotron__detail .pattern--desktop--right,
  .jumbotron .jumbotron__detail .pattern--desktop--left {
    display: block;
  }
  .jumbotron .jumbotron__detail .pattern--desktop--right {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(200%, -10%);
            transform: translate(200%, -10%);
  }
  .jumbotron .jumbotron__detail .pattern--desktop--left {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .jumbotron .jumbotron__detail .pattern--mobile--left,
  .jumbotron .jumbotron__detail .pattern--mobile--right {
    display: none;
  }
  .icons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    text-align: left;
    margin-top: 220px;
  }
  .icons .icons__heading {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
  .icons .icons__heading::before {
    position: absolute;
    left: 0;
    top: -20%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .about .about__content {
    max-width: 1400px;
    padding: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about__content .pattern--mobile {
    display: none;
  }
  .about .about__content .pattern--desktop {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .about .about__content .about__button {
    margin-top: 0;
    z-index: 1;
  }
  footer .footer__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer__icons::after {
    width: 100%;
  }
  footer .footer__icons .pattern--mobile {
    display: none;
  }
  footer .footer__icons .pattern--desktop {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  footer .footer__menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 10px;
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */